*{
	margin: 0px
	padding:0px;
}
body{
	background-color: lightgray;
}
.image img{
	width :200px;
	margin:10px auto auto 10px;
	border: none;
	border-radius: 50px;
	float: left;
}
.summary{
	width: 50%;
	background-color: black;
	color: white;
	margin: 10px;
	padding:30px;
	border: 10px;
	border-radius: 20px;
	float:right;
	font-size: 20px;
}
.summary p {
	text-align:justify;
} 
.socialmedia{
	width:25%;
	






